/*******************************************************************************
  APP SIZES
*******************************************************************************/

:root {
  /*/ px /*/
  --size-00-px : 0px;
  --size-01-px : 1px;
  --size-02-px : 2px;
  --size-03-px : 4px;
  --size-04-px : 8px;
  --size-05-px : 16px;
  --size-06-px : 32px;
  --size-07-px : 64px;
  --size-08-px : 128px;
  --size-09-px : 256px;
  --size-10-px : 512px;
  --inf-px     : 9999px;
}
